<!doctype html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragment/_layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>운송사 관리 > 운송사 정보수정</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--  <link rel="stylesheet" type="text/css" th:href="@{/static/css/layoutStyle.css}" />-->
  <style>
    .main {
        background-color: white;
        box-shadow: 0 0 3px 1px #ccc;
        margin-bottom: 30px;
    }
    .main h3 {
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #888;
    color: rgb(50, 50, 50);
    }

    /* ---------------------------------- main1 ---------------------------------- */
    #main1 tr{
        border-bottom: 1px solid #dcdcdc;
    }

    #main1 th, #main1 td{
        padding: 8px 14px;
        height: 50px;
        text-align: left;
    }

    #main1 th {
        background-color: #eee;
        width: 10%;
        line-height: 1.3rem;
    }

    #main1 td {
        width: 40%;
    }

    #main1 .w100 {
        width: 150px;
    }

    /* col {
        display: table-column;
    } */

    #main1 select{
        width: 193px;
        height: 30px;
    }

    #main1 input {
        height: 30px;
        padding: 0 10px;
    }

    .btn_wrap {
        display: flex;
        align-items: center;
        height: 40px;
    }

    .btn_wrap input {
        border: none;
        margin: 0 4px;
    }
    /* ------------------------------------------------------------------- */

    /* ---------------------------------- main2 ---------------------------------- */

    #main2 tr {
        height: 40px;
        text-align: center;
    }

    #main2 thead {
        background-color: #eee;
    }
    #main2 th, #main2 td {
        border: 1px solid #ccc;
    }
    /* -------------------------------------------------------------------- */


  .red_border{ /* 값 미입력시 색 변경 이벤트 클래스*/
    border: 1px solid red;
    outline: red;
  }

  span {
      color: rgb(220, 20, 20);
  }

  p {
      margin: 0;
  }

  .btn_confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .btn_confirm input {
      border: none;
      margin: 0 4px;
  }

  </style>
</head>

<body>
<h2 layout:fragment="page_name">운송사 수정</h2>

<div class="main_container" layout:fragment="main_container">
  <div class="main" id="main1">
    <h3>운송사 정보수정</h3>

    <form onsubmit="return frmCheck()" action="/shipping/shippingUpdate" method="post" enctype="multipart/form-data" autocomplete="off">
      <div class="f_table">
        <table>
          <colgroup>
            <col class="w100">
            <col>
          </colgroup>
          <tbody>
          <tr>
            <th>국내/해외</th>  <!-- @@@@@@@@@@@@@@@@ select box @@@@@@@@@@@@@@@@ -->
            <td>
              <select name="domestic" class="domestic">
                <option value="1">국내</option>
                <option value="0">해외</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>운송사명<span>*</span></th>
            <td>
              <input type="text" name="name" class="name" placeholder="운송사명 입력" th:value="${shipList.name}">
            </td>
            <th>이메일<span>*</span></th>
            <td>
              <input type="text" name="email" class="email" placeholder="이메일 입력" th:value="${shipList.email}">
            </td>
          </tr>
          <tr>
            <th>전화번호 <span>*</span></th>
            <td>
              <input type="text" name="comNum" class="comNum" placeholder="휴대폰 번호 입력('-'제외)" th:value="${shipList.comNum}">
            </td>
            <th>팩스번호</th>
            <td>
              <input type="text" name="faxNum" class="faxNum" placeholder="팩스번호 번호 입력('-'제외)" th:value="${shipList.faxNum}">
            </td>
          </tr>
          <tr>
            <th>사업장 주소<span>*</span></th> <!-- @@@@@@@@@ 주소 @@@@@@@@@ -->
            <td class="address_selected">
              <div class="address_in">
                <input type="button" onclick="sample6_execDaumPostcode()"
                       value="우편번호 찾기" style="margin-bottom: 5px;"><br>
                <input type="text" id="sample6_extraAddress" name="city" class="city"
                       placeholder="도시" th:value="${shipList.city}" style="width: 110px;">
                <input type="text" id="sample6_postcode" name="postcode" class="postcode"
                       placeholder="우편번호" th:value="${shipList.postcode}" style="margin-bottom: 5px; width: 110px;">
                <input type="text" id="sample6_address" name="address1" class="address1"
                       placeholder="주소" th:value="${shipList.address1}" style="margin-bottom: 5px; width: 390px;"><br>
                <input type="text" id="sample6_detailAddress" name="address2" class="address2"
                       placeholder="상세주소" th:value="${shipList.address2}" style="margin-bottom: 5px; width: 390px;">
                <input type="hidden" name="country" class="country" value="대한민국">
              </div>
            </td>
          </tr>
          <tr class="img_file">
            <th>운송사 이미지</th>
            <td>
              <input type="file" name="file" class="file_insert" />
              [[${shipList.orgName}]]
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="btn_confirm">
        <input type="submit" value="수정" class="btnConfirm btn blue">
        <a href="javascript:window.history.back();" class="btn gray" style="margin-left: 10xp">취소</a>
      </div>
      <input type="hidden" name="id" th:value="${shipList.id}"> <!-- 수정후 다음페이지로 id를 넘기기 위해 hidden을 사용해 id를 넘김 -->
      <input type="hidden" name="orgName" th:value="${shipList.orgName}">
      <input type="hidden" name="savedFileName" th:value="${shipList.savedFileName}">
      <input type="hidden" name="savedFilePathName" th:value="${shipList.savedFilePathName}">
      <input type="hidden" name="savedFileSize" th:value="${shipList.savedFileSize}">
      <input type="hidden" name="folderName" th:value="${shipList.folderName}">
      <input type="hidden" name="ext" th:value="${shipList.ext}">
    </form>
  </div>

  <div class="main" id="main1">
    <h3>담당자 정보</h3>

    <form name="fsearch" id="fsearch" method="get">
      <div class="f_table">
        <table>
          <colgroup>
            <col class="w100">
            <col>
          </colgroup>
          <tbody>
          <tr>
            <th>담당자명</th>
            <td>
              <input type="text" name="frm_input" value="" class="frm_input">
            </td>

          </tr>
          <tr>
            <th>이메일</th>
            <td>
              <input type="text" name="frm_input" value="" class="frm_input">
            </td>
          </tr>
          <tr>
            <th>유선전화</th>
            <td>
              <input type="text" name="frm_input" value="" class="frm_input">
            </td>
            <th>휴대전화</th>
            <td>
              <input type="text" name="frm_input" value="" class="frm_input">
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </form>
  </div>

</div>

<script layout:fragment="script">
  window.onload=function(){
        document.querySelector("input[name=name]").focus();
        $(".ship_menu").show();
        $(".ship_menu_1").css({"background-color":"rgba(255, 255, 255, 0.1)", "border-radius":"4px"});
    }

  // ---------- select box 변환시 주소 입력 변환 이벤트 스크립트 ----------
        $(document).ready(function () {
            $(".domestic").change(function () {
                if ($(".domestic").val() == 1) {
                    $(".address_selected").append(`
                        <div class="address_in">
                            <input type="button" onclick="sample6_execDaumPostcode()"
                                   value="우편번호 찾기" style="margin-bottom: 5px;"><br>
                            <input type="text" id="sample6_extraAddress" name="city" class="city"
                                   placeholder="도시"  style="width: 110px;">
                            <input type="text" id="sample6_postcode" name="postcode" class="postcode"
                                   placeholder="우편번호"  style="margin-bottom: 5px; width: 110px;">
                            <input type="text" id="sample6_address" name="address1" class="address1"
                                   placeholder="주소"  style="margin-bottom: 5px; width: 390px;"><br>
                            <input type="text" id="sample6_detailAddress" name="address2" class="address2"
                                   placeholder="상세주소"  style="margin-bottom: 5px; width: 390px;">
                            <input type="hidden" name="country" class="country" value="대한민국">
                        </div>
                `);
                    $(".address_out").remove();

                }
                if ($(".domestic").val() == 0) {
                    $(".address_selected").append(`
                        <div class="address_out">
                            <div class="adr_wrap" style="display: flex; align-items: center; margin-bottom: 5px;">
                                <input type="text" name="address1" class="address1"  placeholder="주소 입력"><P style="margin-left: 10px;"> 주소* </P>
                                <input type="text" name="address2" class="address2"  placeholder="상세주소 입력" style="margin-left: 30px;"><P style="margin-left: 10px;">상세주소</P>
                            </div>
                            <div class="postcode_wrap" style="display: flex; align-items: center; margin-bottom: 5px;">
                                <input type="text" name="postcode" class="postcode" placeholder="우편번호 입력"  style="margin-right: 10px;"><p>우편번호*</p>
                            </div>
                            <div class="country_wrap" style="display: flex; align-items: center; margin-bottom: 5px;">
                                <input type="text" name="country" class="country" placeholder="나라 입력"  style="margin-right: 10px;"><p>나라*</p>
                            </div>
                            <div class="city_wrap" style="display: flex; align-items: center; margin-bottom: 5px;">
                                <input type="text" name="city" class="city" placeholder="도시 입력"  style="margin-right: 10px;"><p>도시*</p>
                            </div>
                        </div>
                `);
                    $(".address_in").remove();
                }
            });

        });

    // ---------- 유효성 검사 ----------


    function frmCheck() {
        if ($(".name").val() == "") { // 운송사명
            alert("이름을 입력하세요.");
            $(".name").addClass("red_border");
            $(".name").focus();
            return false;
        } else {
            $(".name").removeClass("red_border");
        }


        if ($(".email").val() == "") { // 이메일
            alert("이메일 주소를 입력하세요.");
            $(".email").addClass("red_border");
            $(".email").focus();
            return false;
        } else {
            $(".email").removeClass("red_border");
        }

        if ($(".comNum").val() == "") { // 전화번호
            alert("전화번호를 입력하세요.");
            $(".comNum").addClass("red_border");
            $(".comNum").focus();
            return false;
        } else {
            $(".comNum").removeClass("red_border");
        }

        if ($(".address1").val() == "") { // 주소1
            alert("주소1를 입력하세요.");
            $(".address1").addClass("red_border");
            $(".address1").focus();
            return false;
        } else {
            $(".address1").removeClass("red_border");
        }

        if ($(".postcode").val() == "") { // 우편번호
            alert("우편번호를 입력하세요.");
            $(".postcode").addClass("red_border");
            $(".postcode").focus();
            return false;
        } else {
            $(".postcode").removeClass("red_border");
        }

        if ($(".country").val() == "") { // 국가
            alert("국가를 입력하세요.");
            $(".country").addClass("red_border");
            $(".country").focus();
            return false;
        } else {
            $(".country").removeClass("red_border");
        }

        if ($(".city").val() == "") { // 도시
            alert("도시를 입력하세요.");
            $(".city").addClass("red_border");
            $(".city").focus();
            return false;
        } else {
            $(".city").removeClass("red_border");
        }
    }

    // ---------- 카카오 주소 api ----------
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                if (data.userSelectedType === 'R') { // 참고항목
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) { // 동/로/가
                        extraAddr += data.bname;
                    }
                    if (data.buildingName !== '' && data.apartment === 'Y') { // 건물명
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if (extraAddr !== '') { // 추가 참고항목
                        extraAddr = '(' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = '';

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 문자열 자르기
                var city = addr.substr(0, addr.indexOf(' '));
                var realAddr = addr.substr(addr.indexOf(' ') + 1, addr.length);

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = realAddr + ', ' + extraAddr;
                document.getElementById("sample6_extraAddress").value = city;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }

    function move() {
        location.href = "/shipping/shippingList";
    }
</script>

</body>
</html>